*{
  min-width:4px;
  min-height:4px;
}

body {
    background-color: rgb(255, 255, 255);
    color: #8c3839;
    width:1048px;
   
    
    /*BackgroundImage*/
    display: block;
    background: center/cover url("Images/v1043-024a.jpg") no-repeat;
    height: auto;
    /*TODO:Fix animation*/
    animation: moveIt 10s linear infinite;
}
@keyframes moveIt {
    from {
        background-position: center;
    }
    to {
        background-position: right;
    }
}


/*Changes Link Colors*/
a:link {
    color: #131313;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: #2e2e2d;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #8c3839;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

/*FLEXBOX LAYOUT*/
/*ALLOWS TO HAVE HORIZONTAL HEADER AND FOOT BUT VERTICAL NAVBAR AND MAIN PAGE*/
.flex-column {
    display:flex; 
    flex-direction:column; 
    justify-content: center; /*centers items on the line (the x-axis by default)*/
    align-items: center; 
}

/* CONTROLS NAV + ARTICLE */
.flex-row{
    display:flex; 
    flex-direction:row;
    justify-self: flex-end;

}


.header {
    justify-content: center; 
    align-items: center;
    text-align: center;
    border:1px solid black;
}
.main  {
    
    background-color: #ffd3db;
    background-clip: padding-box;
    
    /* align-items: center; */
    text-align: center;
    justify-self: flex-end;

}
.nav{
    
    background-color: #ffd3db;
    background-clip: padding-box;
    width:360px;
    border:1px solid black;
    justify-self: flex-start;
}
.footer {
    background-color: #ffd3db;
    /*border-color: #da7073;*/
    background-clip: padding-box;
    border:1px solid black;
}

/*Fun Stuff*/

/* Start https://www.cursors-4u.com */
* {
    cursor: url(https://cur.cursors-4u.net/nature/nat-10/nat997.cur), auto !important;
}
/* End https://www.cursors-4u.com */
